.aws-details label {
    text-align: left;
    font: normal normal 600 16px/37px Open Sans;
    letter-spacing: 0px;
    color: #484848;
    text-transform: capitalize;
    opacity: 1;
}

.aws-details p {
    margin-top: -10px;
    text-align: left;
    font: normal normal normal 16px/37px Open Sans;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
}

.aws-details button.btnn {
    background: #FFFFFF;
    border: 1px solid #593CAB;
    opacity: 1;
}

.aws-details button.edit {
    background: #F2F2F2;
    opacity: 1;
    border: 0px;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 120px;
}

.aws-details button .comment {
    display: none;
}

.aws-details button:hover .comment {
    display: inline;
}

.edit-icon, .delete-icon {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
}

.modal-footer {
    border-top: none;
}

.footer {
    text-align: end;
    margin: 2rem;
}