
/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .lunchbtn {
    float: left;
    width: 40%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
    border: none;
  }
  
  /* Add a color to the delete button */
  .lunchbtn {
    background-color: #5c3eb0;
    border: none;
    color: #fff;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  
  /* Modal Content/Box */
  .confirmLunch .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .lunchbtn {
       width: 100%;
    }
  }