
.login-container .pf-c-login{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin: 0px;
}
.login-container .pf-c-login__container{
    display: flex;
    width: 66%;
    padding: 0px !important;
    margin: 0px ;
    align-items: center; 
    grid-column-gap: 0px;
}
.login-container .pf-c-login__main{
    background-color: transparent;
    margin: 0px;
    margin-right: -24px;
}
.login-container .pf-c-login__main-header{
   padding: 0px;
}
.login-container .pf-c-login__main-body{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
.login-container .pf-c-login__main > :first-child {
    padding-top: 0px !important;
}
.login-container .pf-c-login__main > :last-child {
    padding-bottom: 0px !important;
}
.login-container .pf-c-title{
text-align: left;
font-size: 30px;
font-weight: 800;
letter-spacing: 0px;
color: #484848;
text-transform: capitalize;
}
.login-container .pf-c-form{
    --pf-c-form--GridGap : 10px;
}
.login-container .pf-c-form-control{
height: 33px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #707070;

}
.login-container .pf-c-form-actions{
margin-top: 0px;
margin-bottom: 0px;
}
.login-container .pf-c-button{
width: 321px;
height: 33px;
background: #593CAB 0% 0% no-repeat padding-box;
border-radius: 5px !important;
opacity: 1;
color: #FFFFFF;
font-size: 16px;
text-transform: uppercase;
}
.login-container .pf-c-button:disabled{
    background-color: #cacaca;
}